.auth-title {
  color: #3d5738;
}

.auth-form {
  width: 100%;
  max-width: 300px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: transparent;
}

.auth-input-container {
  flex-wrap: wrap;
  margin: 20px;
  display: flex;
  flex-direction: column;
  color: #3d5738;
  width: 100%;
}

.auth-input {
  outline: 0;
  cursor: pointer;
  border-width: 0 0 1px;
  border-color: #8e9190;
  background-color: transparent;
  color: #3d5738;
}

.auth-input:hover, .auth-input:active, .auth-input:focus {
  border-color:#3d5738;
}

.input-title {
  padding-bottom: 5px;
}

.auth-info {
  font-weight: 300;
  font-size: 16px;
  color: #8e9190;
}

.link {
  margin-left: 5px;
  color: #8e9190;
  text-decoration: none;
  border-bottom: 1px solid #3d5738;
}

.link:hover {
  color: #588167;
  border-bottom: 1px solid #588167;
}

.error-message {
  border: 1px solid transparent;
  border-radius: 10px;
  padding: 10px;
  margin-top: 20px;
  background-color: #e4c8bf;
  color: #890503;
}