.tools {
  display: flex;
  margin-bottom: 30px;
}

.tools ul > li {
  margin: auto 30px;
  padding: 5px;
}

.tool-list {
  width: 100%;
  display: flex;
  flex-direction: row;
  border: 1px solid transparent;
  border-radius: 20px;
  background-color: #e0dddb;
}

.tool-item {
  border: none;
  cursor: pointer;
  outline: none;
  background-color: transparent;
  color: #3d5738;
}

.tool-item:hover {
  transform: scale(1.1);
}