.tools {
  display: flex;
  margin-bottom: 30px;
}

.tools ul > li {
  margin: auto 30px;
  padding: 5px;
}

.tool-list {
  width: 100%;
  display: flex;
  flex-direction: row;
  border: 1px solid transparent;
  border-radius: 20px;
  background-color: #fff;
}

.tool-item {
  border: none;
  cursor: pointer;
  outline: none;
  background-color: transparent;
  color: #212529;
}

.tool-item:hover {
  transform: scale(1.1);
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltip-item {
  margin-left: -50px;
  visibility: hidden;
  padding: 40px 0;
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltip-item {
  visibility: visible;
}