#canvas {
  border: 1px solid #3d5738;
  border-radius: 20px;
}

.canvas-addictional-container {
  width: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding-top: 20px;
}