* {
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul {
  list-style-type: none;
}

.wrapper {
  max-width: 762px;
  width: 100%;
  padding-top: 60px;
  padding: 30px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: #3d5738;
}

.primary-button {
  background-color: #3d5738;
  color: #e0dddb;
  border: 1px solid #3d5738;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  outline: none;
}

.primary-button:hover {
  background-color: #e0dddb;
  border: 1px solid #e0dddb;
  color:  #3d5738;
}

.secondary-button {
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  color: #ff632c;
  cursor: pointer;
}

.secondary-button:hover {
  transform: scale(1.1);
  color: #f9c83e;
}